<footer>
  <div class="footer-content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <p>The Sacramento Housing Data Hub is your go-to resource for learning about policies and programs that affect housing affordability and are administered by local government agencies in Sacramento. We provide an overview of each of the major programs - what it is, its purpose, and related data.</p>
        </div>
        <div class="col-sm-4 left-border-dotted">
          <ul class="list-unstyled">
            {% for link in site.data.navigation %}
            <li class="{% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}">
              <a href="{{site.baseurl}}{{ link.url }}">{{ link.text }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-sm-4">
          <a href="https://codeforsacramento.org/" title="Go to Code For Sacramento" class="no-underline"><span class="brand">Code For Sacramento</span></a>
          <p>Empowering use of the public data</p>
        </div>
        <div class="col-md-12 license">This page was adapted from the <a href="https://housing.datasf.org/">San Francisco Housing Data Hub.</a> The source code for this site is available under the <a href="http://opensource.org/licenses/MIT">MIT License</a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center made-in">
    Made in Sacramento
  </div>
</footer>